* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    scroll-behavior: smooth;
    margin: 0px;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    top: 0px;
}

nav a {
    padding: 0px 5px;
    color: black;
}

.navbar {
    background-color: grey;
}

.navlogo {
    margin: 5px;
}

.logo {
    width: 5px;
}

a {
    text-decoration: none;
}

.topnav {
    display: flex;
    flex-direction: row;
}

.topnav a {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 123, 0);
    border-radius: 360px;
    border: 1px solid rgb(104, 59, 0);
    color: green;
}

.topnav a:hover {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-color: yellow;
    color: black;
}

p {
    display: flex;
}

/*Te doen: Video*/
header {
    background-color: black;
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

/* Box blur */
.boxblur {
    background: rgba(255, 157, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 157, 0, 0.3);
    padding: 0vh 0vh 3vh 0vh;
    margin: 5vh 25vh 5vh 25vh;
    overflow: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    flex-direction: column;
    /*Background*/
    width: 100%;
    height: 100vh;
    background-image: url(../images/Grey_Halloween_Cobweb_Background4289601.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.maintext {
    text-align: center;
}

.maintext2 {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.kopen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kopen a {

    color: orangered;
    padding: 10px;
    border-radius: 360px;
    background-color: green;
    border: 1px solid rgb(104, 59, 0);
}

.kopen a:hover {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-color: orange;
    color: brown;
}

section {
    display: flex;
    justify-content: center;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    /* From https://css.glass */
    background: rgba(255, 157, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 157, 0, 0.3);
    padding: 0vh 1vw 3vh 2vw;
    margin: 5vh 25vh 5vh 25vh;
    overflow: auto;
}

.subtext p {
    color: black;
    text-align: center;
    padding-right: 6px;
}

/*Footer*/
.footerbackground {
    background-color: grey;
    width: 100%;
    height: 40vh;
    background-image: url(../images/171462-OWUPOA-915.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.footerbox {
    padding: 34px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* Box */
    background: rgba(255, 157, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 157, 0, 0.3);
    overflow: hidden;
}

.logocontainer {
    display: flex;
    margin-bottom: 2vh;
    margin-left: 8vh;
}

.logobottom {
    height: 90px;
    width: 120px;
}

.copyright {
    margin-right: auto;
}

.copyright a {
    color: black;
}

.socialscontainer {
    display: flex;
    margin-left: 4vh;
    margin-top: 2vh;
}

.socials {
    height: 4vh;
    width: 5vh;
    padding: 0vh 1vh 0vh 0vh;
}

.links {
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0vh 3vh 0vh 3vh;
}

.copyrightlinks {
    display: flex;
    justify-content: end;
    margin-right: 4vh;
    margin-left: 5vh;
}

/*Support en aankoop form*/
form {
    margin-left: 50vh;
    margin-right: 50vh;
    text-align: start;
}

.sectionsupport {
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding: 5vh 0vh 10vh 0vh;
}

form label {
    padding-bottom: 1vh;
}

.firstname,
.lastname,
.email,
.city,
.date,
.kies,
.question,
.register,
.addres {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    font-weight: bold;
}

.yesno {
    font-weight: normal;
}

.name,
.citydate {
    display: flex;
}


.checkbox {
    padding: 1vh;
}

/*Textboxes*/
input[type="text"],
select,
input[type="email"],
input[type="date"],
input[type="city"],
input[type="radio"],
input[type="checkbox"] {
    padding: 1vh 10vh 1vh 1vh;
    font-size: 1rem;
}

input[type="questionbox"] {
    padding: 0vh 10vh 15vh 1vh;
    font-size: 1rem;
}

/*Moet ingevuld worden*/
input:invalid {
    display: inline;
}

/*Versturen knop*/
.submit {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.sectionaankoop {
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding: 5vh 0vh 10vh 0vh;
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .navlogo {
        text-align: center;
    }

    .topnav {
        align-items: center;
        text-align: center;
    }

    .headervideo {
        width: 100%;
        height: auto;
    }

    .maintext2 {
        margin: 2vh;
    }
}



@media (max-width: 530px) {
    .copyrightlinks {
        flex-direction: column;
    }
}

@media (orientation: portrait) {
    nav {
        flex-direction: column;
    }

    .firstname,
    .lastname,
    .email,
    .city,
    .date,
    .kies,
    .question,
    .register,
    .addres {
        margin: 2vh 0;
    }
}

@media (width <=425px) {
    * {
        flex-direction: column;
        align-items: center;
    }

    .topnav {
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
    }

    .headervideo {
        max-width: 100%;
        height: auto;
        min-width: 100px;
    }

    .boxblur, .subtextbackground, .footerbox {
        margin: 1vh 5vh;
        padding: 1vh;
    }

    .subtext {
        margin: 1vh 1vh;
        padding: 1vh;
    }

    .main {
        width: 100%;
    }

    .footerbackground {
        background-repeat: repeat;
    }

    .logocontainer {
        align-items: center;
        padding-right: 6vh;
    }

    .socialscontainer {
        align-items: center;
        flex-direction: row;
        padding-left: 15vh;
    }
}